---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import desk from "@images/uses/desk.jpg";
import wasd from "@images/uses/wasd.jpg";
import ergodox from "@images/uses/ergodox.jpg";
import tofu from "@images/uses/tofu.jpg";
import popkeys from "@images/uses/logi-keeb.png";
import keychron from "@images/uses/keychron.png";
import vscode from "@images/uses/vscode.png";
import warp from "@images/uses/warp.png";

const pageTitle = "Uses";
const pageSubtitle = "My current setup and the tools I use daily.";
---

<BaseLayout pageTitle={pageTitle} pageSubtitle={pageSubtitle}>
  <h1>{pageTitle}</h1>

  <p>This is what my current setup looks like:</p>

  <Image
    src={desk}
    alt="My desk, a bamboo top with a 27 inch monitor, and a laptop on a white laptop stand. You can also see on the desk a notepad, a pink pencil cup, a stream deck, a wireless phone charger, a coffee mug on top of a yellow coaster. Attached to the desk are a big rectangular keylight and a microphone on a boom arm. "
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <p>
    It's a bit bland, to be honest, but I'm looking to buy a house soon so I'm
    hoping to get a bit more creative with my workspace once I've moved.
  </p>

  <h2>🖥 Hardware</h2>
  <p>
    My chair is a <a
      href="https://www.hermanmiller.com/en_gb/products/seating/office-chairs/aeron-chairs/"
      >Herman Miller Aeron</a
    > and my desk is a <a
      href="https://www.fully.com/en-gb/jarvis-adjustable-height-desk-bamboo.html"
      >Fully Jarvis Bamboo Standing Desk</a
    >. Getting a standing desk after a year of working remotely was an absolute
    game changer, I'm so happy with it! I also have an <a
      href="https://www.fully.com/accessories/standing-desk-mats/muvmat-by-aeris.html"
      >anti-fatigue mat</a
    > that I got with my desk and it really helps me stand for longer 🧍‍♀️
  </p>

  <p>
    I spend most of my time on my <a
      href="https://www.johnlewis.com/2021-apple-macbook-pro-16-inch-m1-max-processor-32gb-ram-1tb-ssd/p5828283"
      >2021 16" MacBook Pro</a
    >. I generally use it open and my current monitor stand is a wooden one from <a
      href="https://cottonon.com/UK/typo-home/">Typo</a
    >. I've now ditched the superultrawide lifestyle, and my current monitor is
    an <a
      href="https://www.johnlewis.com/apple-studio-display-with-tilt-height-adjustable-stand-standard-glass-27-inch-5k-retina-display-silver/p6145616"
      >Apple Studio Display</a
    >.
  </p>

  <p>As it turns out I have a bunch of accessories 😅</p>

  <p>
    For pointing, I tend to switch between an <a
      href="https://www.apple.com/uk/shop/product/MJ2R2Z/A/magic-trackpad-2-silver"
      >Apple Magic Trackpad 2</a
    > and a <a
      href="https://www.logitech.com/en-gb/products/mice/mx-master-3-mac-wireless-mouse.html"
      >Logitech MX Master 3 for Mac</a
    > cause it helps keep my RSI in check.
  </p>

  <p>
    For calls, I'm using my monitor's built in camera (despite the 🥔 quality)
    and I have a <a href="https://www.elgato.com/en/key-light"
      >Elgato Key Light</a
    > to help with lighting. Audio wise I use my <a
      href="https://www.johnlewis.com/sony-wh-1000xm4-noise-cancelling-wireless-bluetooth-nfc-high-resolution-audio-over-ear-headphones-with-mic-remote/midnight-blue/p5100480"
    >
      Sony WH-1000XM4
    </a> and an <a href="https://www.elgato.com/en/wave-3">Elgato Wave 3</a>.
  </p>

  <p>
    I used to run <a href="https://www.technottingham.com">Tech Nottingham</a> online
    events from here, so I have an <a
      href="https://www.elgato.com/en/stream-deck">Elgato StreamDeck</a
    > and an <a href="https://www.elgato.com/en/green-screen"
      >Elgato Collapsible Green Screen</a
    >; they're super helpful for that kind of thing.
  </p>

  <p>
    I have a couple more bits and bobs on my desk, like a <a
      href="https://www.belkin.com/uk/magsafe-magnetic-accessories/magsafe/boost-charge-pro-2-in-1-wireless-charger-stand-with-magsafe-15w/p/p-wiz010/"
      >wireless charger</a
    >, a <a
      href="https://www.etsy.com/uk/listing/872177169/rotatable-pen-holder-funny-pen-holder?ref=yr_purchases"
      >rotating pen cup</a
    > and a cute <a
      href="https://www.etsy.com/uk/listing/993496645/terrazzo-coasters-pastel-confetti-switch"
      >pastel terrazzo coaster</a
    >.
  </p>

  <p>
    As for portable stuff, I have an <a
      href="https://www.johnlewis.com/apple-iphone-13-pro-max-ios-6-7-inch-5g-sim-free-128gb/p5756469"
      >iPhone 13 Pro Max</a
    >,
    <a
      href="https://www.johnlewis.com/2022-apple-airpods-pro-2nd-generation-with-magsafe-charging-case/p6345566"
      >2nd Gen Airpods Pro</a
    >, an <a href="https://www.apple.com/uk/apple-watch-series-6/"
      >Apple Watch Series 6</a
    >, and an <a href="https://www.apple.com/uk/shop/buy-ipad/ipad-pro"
      >12.9" M1 iPad Pro</a
    > which I love ✨
  </p>

  <h2>⌨️ Keyboards</h2>
  <p>
    I got my first mechanical keyboard a couple of years ago, and I just fell in
    love with them 💛
  </p>
  <p>Here's some deets on the ones I have so far 👀</p>

  <h3>WASD v3</h3>
  <ul>
    <li>
      Board: <a
        href="https://www.wasdkeyboards.com/wasd-v3-88-key-iso-custom-mechanical-keyboard.html"
        >WASD v3</a
      >
    </li>
    <li>
      Switches: <a href="https://www.cherrymx.de/en/mx-original/mx-clear.html"
        >Cherry MX Clear</a
      >
    </li>
    <li>Cable: Rose Pink Sleeved (ordered with the keyboard)</li>
    <li>
      Keycaps: I made the layout myself, you can <a
        href="/baby-keyboard.svg"
        download>get it here.</a
      >
    </li>
  </ul>
  <p><em>Note: Some of the letters have started to rub off.</em></p>

  <Image
    src={wasd}
    alt="A white mechanical keyboard, with white, pink, and dark grey keycaps. The font on the keycaps is curly and italic. A bunch of the keys have space themed icons."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <h3>Ergodox EZ</h3>
  <ul>
    <li>Board: <a href="https://ergodox-ez.com/">ErgoDox EZ</a></li>
    <li>
      Switches: <del
        ><a
          href="https://mechbox.co.uk/products/kailh-speed-copper-switch?variant=11093261090858"
          >Kaihl Copper</a
        ></del
      >
      <a href="https://www.keycrox.co.uk/product/banana-split-switches"
        >Banana Splits</a
      >
    </li>
    <li>
      Cable: <a href="https://clarkkable.com/"
        >The Curled One (Cream Fuchsia Diamonds) - Clark Kable</a
      >
    </li>
    <li>Keycaps: <a href="https://astrolokeys.com/">Astrolokeys</a></li>
  </ul>

  <Image
    src={ergodox}
    alt="A white mechanical keyboard, split in two, with white, pink, yellow and purple keycaps in an astrological theme."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <h3>DZ60RGB</h3>
  <ul>
    <li>
      Case: <a
        href="https://kbdfans.com/collections/60-layout-case/products/tofu-acrylic-frosted-60-case"
        >Tofu Frosted Acrylic 60%</a
      >
    </li>
    <li>
      Plate: <a href="https://kbdfans.com/products/dz60-cnc-aluminum-plate"
        >DZ60 CNC Aluminium Plate</a
      >
    </li>
    <li>
      Stabs: <a
        href="https://kbdfans.com/products/cherry-original-pcb-stabilizers"
        >Cherry PCB Stabilisers</a
      >
    </li>
    <li>
      Switches: <a
        href="https://kbdfans.com/products/switch-68-cherry-gateron-zealio-2?variant=33959243088011"
        >Kailh Box Navy</a
      >
    </li>
    <li>
      PCB: <a
        href="https://kbdfans.com/products/dz60rgb-hot-swap-custom-keyboard-pcb"
        >DZ60RGB v2 Hot Swap PCB</a
      >
    </li>
    <li>
      Keycaps: <a
        href="https://www.millennialengineers.com/products/rainbow-side-printed-keycaps"
        >Rainbow Side Printed Keycaps</a
      >
    </li>
  </ul>
  <p>
    <em
      >Note: The keycaps didn't perfectly match the PCB layout, and because of
      their slanted profile, it was difficult to use them in different places.
      In future, I'd probably either try to match the layouts or get a DSA
      profile keycap set, so they're easier to move around.</em
    >
  </p>

  <Image
    src={tofu}
    alt="A compact 60% mechanical keyboard, with a transparent acrylic case, and rainbow side printed keycaps."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <h3>Logitech POP Keys</h3>
  <ul>
    <li>
      Board: <a
        href="https://www.logitech.com/en-gb/products/keyboards/pop-keys-wireless-mechanical.html"
        >Logitech POP Keys</a
      >
    </li>
  </ul>

  <Image
    src={popkeys}
    alt="A 60% wireless keyboard with round keycaps. The board is mint green and lilac, and the keys are white and yellow."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <p>
    <em
      >Note: this is my first off the shelf mechanical keyboard and while it's
      not quite as nice as my other keyboards, the convenience of the multi
      channel Bluetooth is top tier.</em
    >
  </p>

  <h3>Keychron K8</h3>
  <p>
    I got this one from work and it's a great keyboard! It's got multi channel
    bluetooth and pretty nice backlighting, I've been using it quite a lot.
  </p>
  <ul>
    <li>
      Board: <a
        href="https://www.keychron.com/products/keychron-k8-wireless-mechanical-keyboard-uk-iso-layout?variant=32246756409433"
        >Keychron K8</a
      >
    </li>
    <li>
      Switches: <a
        href="https://kbdfans.com/products/switch-68-cherry-gateron-zealio-2?variant=33959242072203"
        >Gateron Brown</a
      >
    </li>
  </ul>

  <Image
    src={keychron}
    alt="A tenkeyless wireless keyboard with dark grey keycaps, except for the escape key which is orange. The board has RGB backlighting, which is glinting different colours under each key."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <h2>💾 Software</h2>
  &nbsp;
  <h3>Editor</h3>

  <Image
    src={vscode}
    alt="A screenshot of VSCode, the theme is purple with yellow, pink and red fonts in places. The font is a modern looking monospace."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <p>
    I use <a href="https://code.visualstudio.com/">VS Code</a> for <strong
      >everything</strong
    >! My current theme is <a
      href="https://marketplace.visualstudio.com/items?itemName=cybersamurai.midnight-purple-2077"
      >Midnight Purple 2077</a
    > and the font is <a href="https://philpl.gumroad.com/l/dank-mono"
      >Dank Mono</a
    >. I have a bunch of extensions, these are my faves:
  </p>

  <ul>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=oderwat.indent-rainbow"
        >Indent rainbow</a
      >: makes your indents pretty, and more importantly, highlights when your
      indent level isn't quite right.
    </li>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=webhint.vscode-webhint"
        >WebHint</a
      > + <a
        href="https://marketplace.visualstudio.com/items?itemName=usernamehw.errorlens"
        >Error Lens</a
      >: a killer combo that gives you instant feedback on the web code you
      write.
    </li>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens"
        >GitLens</a
      >: super useful to get context on when the line was last changed; the
      commit message helps understand the intent and the name helps you figure
      out who to ask about it 🕵🏼‍♀️
    </li>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=nhoizey.gremlins"
        >Gremlins tracker</a
      >: this is useful to find "non standard" characters when you're debugging
      a weird issue.
    </li>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=kamikillerto.vscode-colorize"
      >
        Colorize</a
      >: this extension shows the colour of the hex / rgb code you're using
      directly on the file.
    </li>
    <li>
      <a
        href="https://marketplace.visualstudio.com/items?itemName=Cardinal90.multi-cursor-case-preserve"
        >Multiple cursor case preserve</a
      >: I use Cmd + D a lot to replace words / variables, and this extension
      lets me do that respecting the case of each instance.
    </li>
  </ul>

  <h3>Terminal</h3>

  <Image
    src={warp}
    alt="A screenshot of warp, the theme is dark blue, and you can see some ascii art of oh my zsh."
    widths={[600, 900]}
    sizes="(max-width: 600px) 600px, 900px"
  />

  <p>
    I use the integrated terminal on VSCode most of the time, but when I'm not
    doing repo specific stuff, I use <a href="https://www.warp.dev/">Warp</a>.
  </p>

  <p>
    For my shell I use ZSH with <a href="https://ohmyz.sh/">Oh My Zsh</a>, as it
    has a bunch of plugins and useful aliases out of the box.
  </p>

  <p>
    I try to keep it light on the plugins since they can slow down startup a
    bunch, but I find these two really helpful:
  </p>

  <ul>
    <li>
      <a href="https://github.com/zsh-users/zsh-syntax-highlighting"
        >ZSH Syntax Highlighting</a
      >
    </li>
    <li>
      <a href="https://github.com/zsh-users/zsh-autosuggestions"
        >ZSH Autosuggestions</a
      >
    </li>
  </ul>

  <h3>Apps</h3>
  <p>
    There's a bunch of apps I use regularly, but the ones I always install first
    in a fresh machine are <a href="https://www.alfredapp.com/">Alfred</a>, <a
      href="https://magnet.crowdcafe.com">Magnet</a
    > and <a href="https://handmirror.app/">Hand Mirror</a>.
  </p>

  <p>
    I write things in <a href="https://obsidian.md/">Obsidian</a> and I organise
    my life using <a href="https://culturedcode.com/things/">Things</a>.
  </p>

  <p>
    And here are a few apps that I use less often, but are really good at what
    they do:
  </p>

  <ul>
    <li>
      <a href="https://apps.apple.com/us/app/amphetamine/id937984704?mt=12"
        >Amphetamine</a
      >
    </li>
    <li>
      <a href="https://www.postman.com/">Postman</a>
    </li>
    <li>
      <a href="https://www.charlesproxy.com/">Charles</a>
    </li>
    <li><a href="https://matthewpalmer.net/rocket/">Rocket</a></li>
    <li><a href="https://software.charliemonroe.net/downie/">Downie</a></li>
    <li>
      <a href="https://software.charliemonroe.net/permute/">Permute</a>
    </li>
    <li>
      <a href="https://sindresorhus.com/aiko">Aiko</a>
    </li>
    <li><a href="https://freemacsoft.net/appcleaner/">AppCleaner</a></li>
  </ul>
</BaseLayout>
